{{#each story}}

<div class="card" style="width: 18rem;">
    <a href={{storyLink}}>
        <img class="card-img-top" src={{storyImage}} alt="Card image cap">
        <div class="card-body">

            <h5 class="card-title">{{storyTitle}}</h5>
            <p class="card-text">{{storyDescription}}</p>
        </div>
    </a>

</div>

{{/each}}